<div class="tab-box">
  <p-tabView [activeIndex]="index" (onChange)="onChange($event)">
    <p-tabPanel header="Car" leftIcon="fa fa-car">
      <app-primeng-dialogs></app-primeng-dialogs>
    </p-tabPanel>
    <p-tabPanel header="Card" leftIcon="fa fa-id-card">
      <app-task-card></app-task-card>
    </p-tabPanel>
    <p-tabPanel header="Card box" leftIcon="pi pi-guard-app">
      <app-task-card-box [title]="'ToDo'" [boxHeight]="'600px'" [cards]="cards"></app-task-card-box>
    </p-tabPanel>
    <p-tabPanel header="Chart" leftIcon="fa fa-line-chart">
      <app-burn-down></app-burn-down>
    </p-tabPanel>
  </p-tabView>
</div>

