.ui-table.ui-table-hoverable-rows .ui-table-tbody > tr.ui-selectable-row:hover {
  background-color: aqua !important;
  color: black;
}

.ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #007ad9 !important;
  color: #ffffff;
}

tr:focus {
  outline: 0;
}

.ui-table .ui-table-thead > tr > th {
  background-color: #dfdfdf !important;
}

.ui-tree.ui-widget {
  height: 100%;
}

.ui-treenode-content.ui-treenode-selectable:focus {
  outline: none;
}

.ui-card-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 6px;
}

.ui-card-body {
  padding: 10px;
}

.ui-card-footer {
  padding-top: 6px;
}
