<div class="main-box">
  <div class="sign-box">
    <div class="item-box">
      <img src="assets/icon/user.png" width="32px" height="32px">
    </div>

    <div class="item-box">
      <h1>Reset your password</h1>
    </div>
    <div class="item-box">
      <p>
        Enter you email address and we will send you a link to reset your password.
      </p>
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Enter your email address" style="width: 100%">
      </div>
    </div>
    <div class="item-box">
      <button pButton label="Send email" iconPos="left" icon="pi pi-envelop" [ngClass]="'sign-button'"></button>
    </div>

  </div>
</div>
