<div class="main-box">
  <h3>
    Promise使用示例。
  </h3>
  <p>Promise 对象用于表示一个异步操作的最终状态（完成或失败），以及该异步操作的结果值。</p>

  <div class="sub-box">
    <p>一个 Promise有以下几种状态:</p>
    <ul>
      <li>pending: 初始状态，既不是成功，也不是失败状态。</li>
      <li>fulfilled: 意味着操作成功完成。</li>
      <li>rejected: 意味着操作失败。</li>
    </ul>
  </div>

  <pre>
    <code class="language-javascript" pCode ngNonBindable>
      resolve() &#123;
        const promise = new Promise&lt;string&gt;((resolve, reject) =&gt; &#123;
          // 创建一个异步调用
          setTimeout(() =&gt; &#123;
            resolve('异步调用成功。');
          &#125;, 1000);
        &#125;);

        this.toMessage(promise);
      &#125;

      reject() &#123;
        const promise = new Promise&lt;string&gt;((resolve, reject) =&gt; &#123;
          // 创建一个异步调用
          setTimeout(() =&gt; &#123;
            reject('异步调用失败。');
          &#125;, 1000);
        &#125;);
        this.toMessage(promise);
      &#125;

      toMessage(promise: Promise&lt;string&gt;) &#123;
        promise.then((message) =&gt; &#123;
          this.messages = [];
          this.messages.push(&#123;severity: 'success', summary: '', detail: message&#125;);
        &#125;).catch((message) =&gt; &#123;
          this.messages = [];
          this.messages.push(&#123;severity: 'error', summary: '', detail: message&#125;);
        &#125;).finally(() =&gt; &#123;
          this.messages.push(&#123;severity: 'info', summary: '', detail: '异步调用结束。'&#125;);
        &#125;);
      &#125;</code>
  </pre>
  <p-messages [(value)]="messages"></p-messages>
  <button type="button" pButton (click)="handleResolve()" label="Resolve" [ngStyle]="{'margin-right.px': 20}"></button>
  <button type="button" pButton (click)="handleReject()" label="Reject" [ngStyle]="{'margin-right.px': 20}"></button>

  <h3>Promise.all：</h3>
  <p>Promise.all(iterable) 方法返回一个 Promise 实例，此实例在 iterable 参数内所有的 promise 都“完成（resolved）”或参数中不包含 promise 时回调完成（resolve）；<br>
    如果参数中  promise 有一个失败（rejected），此实例回调失败（reject），失败原因的是第一个失败 promise 的结果。</p>
  <pre>
    <code class="language-javascript" pCode ngNonBindable>
        handlerAll() &#123;
          const promise1: Promise&lt;string&gt; = Promise.resolve('promise1');
          const promise2: Promise&lt;string&gt; = new Promise(function (resolve, reject) &#123;
            setTimeout(resolve, 300, 'promise2');
          &#125;);
          const promise3: Promise&lt;string&gt; = new Promise(function (resolve, reject) &#123;
            setTimeout(resolve, 100, 'promise3');
          &#125;);
      
          Promise.all&lt;string, string, string&gt;([promise1, promise2, promise3]).then((values) =&gt; &#123;
            this.messages = [];
            this.messages.push(&#123;severity: 'success', summary: '', detail: values.toString()&#125;);
          &#125;);
        &#125;</code>
  </pre>
  <button type="button" pButton (click)="handleAll()" label="All" [ngStyle]="{'margin-right.px': 20}"></button>
  <p-message severity="info" [text]="allMessage"></p-message>

  <h3>Promise.race：</h3>
  <p>Promise.race(iterable) 方法返回一个 promise，一旦迭代器中的某个promise解决或拒绝，返回的 promise就会解决或拒绝。</p>
  <pre>
    <code class="language-javascript" pCode ngNonBindable>
        handlerRace() &#123;
          const promise2: Promise&lt;string&gt; = new Promise(function (resolve, reject) &#123;
            setTimeout(resolve, 300, 'promise2');
          &#125;);
          const promise3: Promise&lt;string&gt; = new Promise(function (resolve, reject) &#123;
            setTimeout(resolve, 100, 'promise3');
          &#125;);

          Promise.race&lt;string, string, string&gt;([promise1, promise2, promise3]).then((values) =&gt; &#123;
            this.messages = [];
            this.messages.push(&#123;severity: 'success', summary: '', detail: values.toString()&#125;);
          &#125;);
        &#125;</code>
  </pre>
  <button type="button" pButton (click)="handleRace()" label="Race" [ngStyle]="{'margin-right.px': 20}"></button>
  <p-message severity="info" [text]="raceMessage"></p-message>

  <h3>await</h3>
  <p>await 操作符用于等待一个Promise 对象。它只能在异步函数 async function 中使用。</p>
  <pre>
    <code class="language-javascript" pCode ngNonBindable>
          async handlerWait() &#123;
            const s = await this.resolveAfter2Seconds('Sleep for 2 seconds.');
            this.waitMessage = s.toString();
          &#125;
        
          private resolveAfter2Seconds(x) &#123;
            return new Promise(resolve => &#123;
              setTimeout(() => &#123;
                resolve(x);
              &#125;, 2000);
            &#125;);
          &#125;</code>
  </pre>
  <button type="button" pButton (click)="handlerWait()" label="await" [ngStyle]="{'margin-right.px': 20}"></button>
  <p-message severity="info" [text]="waitMessage"></p-message>
</div>
