  <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '300px'}" styleClass="ui-card-shadow">
    <div>现在如果我们专注于从左到右完成第一行的黄色便签，我们就可以确保很快发布一款包含了最最基本功能的邮件系统。这样我们就可以验证我们的邮件系统整体架构（发送邮件同时确保其可以被阅读）可行。
    </div>
    <p-footer>
      <div class="card-footer-box">
        <div class="card-estimation">
          <i class="fa fa-balance-scale">:5h</i>
          <i class="fa fa-diamond">:10</i>
        </div>
        <div class="card-operation">
          <div class="circle-img">
            <img src="../../../assets/picture/employee001.jpeg">
          </div>
          <button pButton type="button" icon="pi pi-pencil" style="margin-right: .25em"
                  class="ui-button-rounded ui-button-card"></button>
          <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded ui-button-card"></button>
        </div>
      </div>
    </p-footer>
  </p-card>
