  <p-card [header]="task.title" [style]="{width: '300px'}" styleClass="ui-card-shadow">
    <div>
      <span [innerHtml]="task.description"></span>
    </div>
    <p-footer>
      <div class="card-footer-box">
        <div class="card-estimation">
          <i class="fa fa-balance-scale">:{{task.estimate}}h</i>
          <i class="fa fa-diamond">:{{task.priority}}</i>
        </div>
        <div class="card-operation">
          <div class="circle-img">
            <img src="../../../assets/picture/employee001.jpeg">
          </div>
          <button pButton type="button" icon="pi pi-pencil" style="margin-right: .25em"
                  class="ui-button-rounded ui-button-card"></button>
          <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded ui-button-card"></button>
        </div>
      </div>
    </p-footer>
  </p-card>
