<div class="board-box">
  <div style="margin-left: 6px">
    <app-task-card-box [title]="'ToDo'" [boxHeight]="'810px'" [cards]="cards"></app-task-card-box>
  </div>
  <div style="margin-left: 6px">
    <app-task-card-box [title]="'Doing'" [boxHeight]="'810px'" [cards]="cards"></app-task-card-box>
  </div>
  <div style="margin-left: 6px; margin-right: 6px">
    <app-task-card-box [title]="'Done'" [boxHeight]="'810px'" [cards]="cards"></app-task-card-box>
  </div>
  <div>
    <app-burn-down></app-burn-down>
  </div>
</div>
