/*高度100%设置*/
html {
  height: 100%;
}
body {
  margin: 2em;
  height: -webkit-calc(100% - 150px);
}

.main-box {
  height: 100%;
  width: 100%;
  margin: 6px 36px 6px 16px;
  padding-right: 16px;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background-color: #fdfdfd !important;
  box-sizing: border-box;
  margin-bottom: 1em !important;
}

pre[class*=language-] {
  position: relative;
  margin: .5em 0;
  box-shadow: -1px 0 0 0 #dae8ef, 0 0 0 1px #dfdfdf;
  border-left: 10px solid #4ae6ef;
  border-radius: 10px;
  background-image: linear-gradient(transparent 50%,rgba(69,142,209,.04) 50%) !important;
  background-size: 3em 3em !important;;
  background-origin: content-box !important;;
  overflow: visible;
  padding: 0;
}

code[class*=language-], pre[class*=language-] {
  color: #000;
  background: 0 0;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

