:host /deep/ .main-box .ui-table .ui-table-thead > tr > th,
:host /deep/ .main-box .ui-table .ui-table-tbody > tr > td {
  border: 0;
  background: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  line-height: 16px;
}

:host /deep/ .main-box .ui-table .ui-table-thead > tr {
  background-color: lightgray;
}

:host /deep/ .main-box .ui-table .ui-table-thead > tr > th:last-child,
:host /deep/ .main-box .ui-table .ui-table-tbody > tr > td:last-child {
  border-right: 0 none;
}

:host /deep/ .main-box .ui-table .ui-table-tbody > tr {
  background-color: white;
}

:host /deep/ .main-box .ui-table-scrollable-header {
  border: 1px solid black;
}

:host /deep/ .main-box .ui-table-scrollable-body {
  border: 1px solid black;
}
